language: php
sudo: false

php:
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: nightly

before_script:
  - composer self-update
  - composer install --prefer-dist --no-progress --no-interaction

script:
  - vendor/bin/robo check:codestyle
